* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#image-cont{
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 1rem;
  padding: 20px;
  /* border: 2px solid; */
  margin: 2rem;
}
#grid{
  height: 400px;
  
  display: grid;
  grid-template-rows: 35% 65%;
  gap: 1rem;
}
#child{
  
}
#child img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.grid-child {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}

#small-child{

}
.grid-small--child {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  gap: 1rem;
}
.ultra-small--child{

}